  <section class="main-header">
    <img src="achieve.png">
  </section>
  
  <div>
    <ul class="row_B">
      <li class="col-md-12">・本アプリはブログっぽい何かを投稿できます。<li>
      <li class="col-md-12">・一覧画面では、PC画面だと一投稿が横に3列並び、スマホだと一列に並んで表示されます。</li>
      <li class="col-md-12">・スマホ画面の場合、ヘッダーがバーガー表示になります。</li>
      </ul>
    </div>